body {
  margin: 0;
  background-color: #eeeb11; /* Deep purple */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

/* 2. Custom Logo Header */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.head-icons {
  display: flex;
  gap: 20px;
}

.logo {
  width: 100px; /* or whatever looks good */
  height: auto;
}

/* 5. Framed White Content Box */
.content-box {
  background-color: white;
  padding: 20px;
  width: 50vw;
  height: fit-content;
  margin: 0 auto 60px;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.2); /* soft green glow */
  border: 4px solid #1114ee;
}
/* 5. Framed White Content Box 
.music {
  width: 100%;
  max-width: 600px; 
  height: auto;
  display: block;
  margin: 0 auto;
}*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
